<!-- Base template for all the HTML pages -->
<!-- Consists of Navbar and Navbar links -->
{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
  <title>Beam Exercise</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- cdn required for the project -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
  <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
  <script src="{%static 'js/base.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/base.css'%}">
</head>

<!-- Base HTML Content -->
<body>
  <nav class="navbar navbar-expand-sm sticky-top bg-primary navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a href="/"><img src="{%static 'img/logo.png' %}" width="75" height="75" alt="" class="logo fixed"></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/beam/exercise1/">Exercise 1</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/beam/exercise2/">Exercise 2</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/beam/exercise3/">Exercise 3</a>
      </li>
    </ul>
  </nav>
  <!-- Template Inheritance -->
  {% block content %}{% endblock %}
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhqTKTlYJjzOU2cAemPtCp3M_4nfuxXuk&callback=myMap"></script>

</body>

</html>